.command-input{
  padding: 5px 0;
  font-size: 16px;

  display: flex;

  >span{
    display: inline-block;
    margin: 0 2px;
  }

  .commands{
    border: none;
    outline: none;
    color: #ffffff;
    font-size: inherit;
    background-color: #000000;
    flex: 1;

    position: relative;
    top: -3px;

    &.text{
      top: 0;
    }
  }
}
